@charset "UTF-8";
.main-img {
	position: fixed;
	top: 5%;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-attachment: fixed;
	z-index: -10;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #222;
}

ul {
	list-style: none;
} 

li {
	float: left;
	margin-right: 20px;
}

/* 메뉴 */ 
.nav-center {
	width: 700px;
	height: 52px;
	margin-top: 120px;
	margin-left: 100px; 
	text-align: center;
	float: left;
    flex-direction: column;
} 

.nav-center> a {
	text-decoration: none;
	color: #222;
	display: inline-block;
	padding: 10px;
}

.nav-center>ul li {
	width: 20%;
	display: inline-block;
	text-align: center;
} 


/* product 이미지 */

.product-container {
    margin: auto;
    flex-direction: column;
}

#product_list {
	width: 1000px;
	margin-top: 70px;
	top: 100px;
}

#product_list li {
	width: 25%;
	margin-left: 10px;
	margin-top: 50px;
	padding-right: 20px;
	float: left;
	text-align: center;
	display: inline-block;
}

#product_list li a {
	display: inline-block;
	padding: 10px;
}

#product_list li a span {
	display: inline-block;
}

#product_list .gallery img {
	width: 200px;
	height: 200px;
} 

/** 상품 정보 (제목명) */ 
.title {
	margin-top: 140px;
	height: 140px;
}

.btn {
	color: white;
}

.btn btn-secondary {
	font-size: 20px;
}

.btn-warning {
	font-size: 20px;
	color: white;
}

/** 특정 상품 레이아웃 */ 
.row {
	font-size: 20px;
	border: 5px solid #eee;
	right: 5%;
	background: white;
	width: 1400px;
	height: 650px;
	position: relative;
	/* 		margin-top: 3%; */
}

/** '상품 정보' 제목 요소 */
.display-3 {
	top: 15%;
	left: 20%;
	color: black;
	font-weight: 700;
	width: 300px;
	text-shadow: 1px 1px 5px #bdbdbd;
}

.table table-hover {
	font-size: 20px;
}

/** 상품 이미지 */ 
.col-md-5 img {
	border-radius: 30px;
	top: 7%;
	position: relative;
	left: 5%;
	overflow: hidden;
}

/** 상품 정보 데이터 */
.sub_explain {
	color: black;
	font-weight: bold;
	margin-left: 10%;
	top: 8%;
	position: relative;
}

/** 상품명 */ 
.pname {
	margin-top: 10px;
	font-weight: 700;
	position: relative;
}

/** 상품 상세설명 */ 
.desc {
	margin-top: 10px;
	font-weight: 700;
	position: relative;
}

/** 버튼 영역 */
.button {
	font-weight: 700;
}

/** 윗 라인 버튼 (장바구니 담기, 상품 목록, 리뷰확인) */ 
.product_bt {
	margin-top: 10%;
	width: 1000px;
	float: right;
	position: absolute;
	left: 11%;
	bottom: 17%;
}

/** 주문하기 버튼 */ 
#order {
	position: absolute;
	bottom: 7%;
}

/** '장바구니 담기' 버튼 */
.cart_into {
	color: black;
	font-weight: 700;
}

.order {
	color: black;
	font-weight: 700;
}

.review {
	color: black;
	font-weight: 700;
}

.pd_orderlist {
	color: black;
	font-weight: 700;
}

.pd_list {
	color: black;
	font-weight: 700;
}

.review_view {
	color: black;
	font-weight: 700;
}

/** 
.coupon_set {
	color: black;
	font-weight: 700;
} 
*/

.sub_container {
	left: 23%;
	width: 350px;
}

.container {
	top: 15%;
}

.membership {
	width: 1700px;
	height: 460px;
	margin: 0 auto;
	background-color: #eee;
	margin-top: 10%;
	position: relative;
	left: 5%;
	bottom: 5%;
}

.mb_title {
	text-align: center;
	margin: 0 auto;
	padding-top: 2%;
}

.mb_title h2 {
	font-weight: 900;
	font-size: 40px;
	position: relative;
	top: 1%;
}

#event {
	position: relative;
	width: auto;
	background: #eee;
	height: 300px;
	top: 5%;
}

#event li {
	padding: 0;
	width: 24%;
	float: left;
	height: 300px;
	display: block;
}

#event li:first-child {
	border-right: 2px solid gray;
	height: 300px;
	position: relative;
	top: 2%;
}

#event li:nth-child(2) {
	border-right: 2px solid gray;
	height: 300px;
}

#event li:nth-child(3) {
	border-right: 2px solid gray;
	height: 300px;
}

#event li:nth-child(4) {
	margin: 0 auto;
	padding-left: 2%;
}

.coupon_give {
	display: block;		/** display 속성이 약함. 좀 더 공부해야 겠다 */
	background: #FFF612;
	margin: 0 auto;
	width: 90%;
	height: 260px;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 0;
}

.new_member_give {
	background: white;
	border: 2px solid black;
	border-radius: 30px;
	margin: 0 auto;
	width: 80%;
	height: 100px;
	position: relative;
	top: 5%;
}

.new_member_give_title h6 {
	text-align: center;
	padding-top: 3%;
	font-weight: bold;
	font-size: 15px;
}

.pay h5 {
	text-align: center;
	padding-top: 2%;
	font-weight: bold;
	font-size: 28px;
}

.direct_give h4 {
	text-align: center;
	font-weight: bold;
	padding-top: 10%;
}

.coupon_event h6 {
	text-align: center;
	padding-top: 8%;
	font-weight: bold;
	font-size: 17px;
}

.star img {
	display: block; 
	margin: 0 auto;
/* 	left: 42.5%; */
/* 	right: 5%; */
	position: relative;
	padding-top: 2%;
}

.level h4 {
	text-align: center; 
	padding-top: 6%;
	font-weight: bold; 
	font-size: 27px;
}

.level_event h6 {
	text-align: center; 
	padding-top: 8%;
	font-weight: bold; 
	font-size: 17px;
}

.truck img {
	display: block; 
	margin: 0 auto;
	position: relative;
	padding-top: 5%;
	width: 100px;
}

.shipment_title h4 {
	text-align: center; 
	padding-top: 3%;
	font-weight: bold;
	font-size: 27px;
}

.shipment_event h6 {
	text-align: center; 
	padding-top: 10%;
	font-weight: bold;
}

.alarm_event img {
	display: block; 
	margin: 0 auto; 
	position: relative; 
	padding-top: 4%; 
}

.new_update h4 {
	text-align: center; 
	padding-top: 4%; 
	font-weight: bold;
}

.new_discount h6 {
	text-align: center; 
	padding-top: 17%; 
	font-weight: bold;
}


