@charset "UTF-8";
/** 상품목록 (페이지 제목명) */
.title {
	margin-top: 150px;
	height: 140px;
}

ul, li {
	list-style: none;
}

li:hover {
	cursor: pointer; 
}

a:link {
	color: rgb(53, 53, 53);
	text-decoration: none;
}

a:visited {
    color: rgb(53, 53, 53);
    text-decoration: none;
}

/** 상품목록 제목태그 */ 
.display-3 {
	margin-top: 50px;
	color: black;
	font-weight: 700;
	position: relative;
	margin-left: -30%;
}

/** 상품나열 레이아웃 */ 
.row {
	font-size: 26px;
}

/** 상품목록, 나열상품 */ 
.container {
	margin-top: 10px;
}

/** 상품나열 레이아웃 첫 번째 자식태그 */ 
#product_list {
	width: 1500px;
	height: 1270px;
	margin: 0 auto;
}

/** 상품나열 레이아웃 두 번째 자손태그 */ 
#product_lists {
	width: 400px;
	height: 500px;
	right: 17%;
	position: relative;
	margin-bottom: 4%;
}

/** 상품 설명 */ 
.sub_explain {
	color: black !important;
	margin-right: -25% !important;
	width: 330px !important;
	height: 450px !important; 
}

/** 상품 이미지 */ 
.sub_explain img {
	width: 280px !important;
	border-radius: 30px;
}

/** 상품 상세설명 */ 
.sub_explain p {
	width: 280px !important;
	height: 70px !important;
	position: static !important;
	margin-top: -2% !important;
	text-align: left !important;
}

/** 상세정보 버튼 */ 
.sub {
	float: left !important;
	margin-bottom: 10% !important;
	margin-left: 18% !important;
	position: absolute !important;
}

/** 상품명 */ 
.sub_explain h2 {
	margin-top: 20px !important;
	font-size: 22px !important;
	font-weight: bold !important;
	margin-bottom: 30px !important;
	width: 300px !important;
}

/** 상품 설명 */ 
.sub_explain h5 {
	font-size: 16px;
	top: 5%;
	font-weight: 700;
	position: relative;
}

.sub_menu a {
	margin-top: 5%;
	font-weight: 700;
	position: relative;
}

h6 {
	top: 2%;
	width: 100px;
	font-size: 10px;
	float: right;
	margin-right: -5%;
	position: relative;
}

.btn btn-light {
	text-shadow: none;
	font-weight: 700;
}

.side_bar {
	float: right;
	position: relative;
	right: -35%;
	height: 1000px;
	bottom: 80%;
	width: 100px;
}

.scroll_bar {
	width: 100px;
	height: 450px;
	/*   		right: 20%;   */
	bottom: 135%;
	float: right;
	position: absolute;
	background: #eee;
}

.mini_menu li {
	right: 30%;
	border-bottom: 1px solid;
	top: 20%;
	margin-top: 30%;
	margin-bottom: 30%;
	position: relative;
}

.search {
	margin-top: 27%;
}

.cart {
	margin-right: 7%;
}


.container {
    margin: 0 auto;
}

.ul_wrap{
	margin:0 10px 7px;	
}
	
.allproduct_category{
	list-style: none;
	width:492px;
	overflow:hidden;
	font-color: #fff;
}
	
.category{
	text-align:center;
	line-height:44px;
	width:76px;
	height:44px;
	background:#CEBEA7;
	color:#fff;
	border-radius:25px;
	float:left;
	margin-right:6px;
	font-color: #fff;
}

.category:last-child{
	font-color: #fff;
	margin-right:0;
}

.active{
	background:#172F50;
}

.allproduct_top{
	margin:0 10px 0;
	position:sticky; 
	top:0px;
	z-index:80;
}
	
.allproduct_top h3 {
	margin-left: 40px;
}

.allproduct_slide{
	list-style: none;
}
	
.allproduct_slide_ul{
	list-style: none;
	width:899px;
	overflow:hidden;	
}
	
.allproduct_slide_ul2{
	width:639px;
	overflow:hidden;
}
	
.allproduct_slide_ul_li{
	width:123px;
	height:112px;
	margin-right:6px;
	float:left;
	font-size:15px;
	margin-top:13px;
	list-style: none;
}

.allproduct_slide_ul_li:last-child{
	margin-right:0;
}

.allproduct_slide_ul_li img{
	width:123px;
	height:69px;
	list-style: none;
}

.allproduct_product_ul{
	overflow:hidden;
	width:1800px;
}
	
.allproduct_product_ul_li{
	float:left;
	margin-right: 50px;
	width:350px;
	height:300px;
	padding:30px 10px;
	position: relative;
}
	